/*

.background { 
    background-image: url("~/wwwroot/img/log.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.form-outline input::placeholder {
    color: white;
}
*/